# Virtual environment
venv/
env/
.venv/

# Environment Variables (SECRET)
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Sensitive / large files
makale.pdf
temp_code.py
not_necessery.ipynb
